@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #0886B9;
  background: linear-gradient(180deg, #0886B9, #011A40);
  opacity: 0;
  animation: 1s ease-out .2s 1 transitionAnimation;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image-container {

    text-align: center;
    width: 100%;
}

.image-container img {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 40px auto 20px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

#name {
  color: #FFF;
  font-size: 1.2rem;
  line-height: 1.25;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#header {
  color: #FFF;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  position: relative;
  background-color: transparent;
  color: #FFF;
  border: solid #B3B3B3 2px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px; /* 17px */
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}


@media (hover: hover) {
  .link:hover {
      background-color: #B3B3B3;
      color: #FFF;
      transition: 0.3s;
  }
}

@keyframes transitionAnimation {
  0% {
      opacity: 0;
      transform: translateY(-5px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

#footer a{
  color: #FFF;
  font-size: .6rem;
  line-height: 1.25;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#policy {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}